node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
build
dist
android/build
android/.gradle
android/local.properties
ios/build
ios/Pods
.DS_Store
.expo
.expo-shared
*.jks
*.keystore
coverage
.vscode
.idea
*.iml
.gradle
.watchmanconfig
watchman.log
